[build]
  command = "hugo"
  publish = "public"

[build.environment]
  HUGO_VERSION = "0.155.1"

[[headers]]
  for = "/sw.js"
  [headers.values]
    Cache-Control = "no-cache"

[[headers]]
  for = "/manifest.json"
  [headers.values]
    Cache-Control = "no-cache"