.gallery {
    display: flex; /* Układ w jednym wierszu */
    gap: 10px;     /* Odstęp między miniaturami */
}

.gallery img {
    width: 150px;  /* Szerokość miniaturki */
    height: auto;  /* Zachowanie proporcji */
    cursor: pointer; /* Kursor wskazuje, że miniaturka jest klikalna */
}
